// This file contains 12-column grid system.
// -----------------------------------------------------------------------------

$grid-columns: 12;

.grid-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
}

// spans
@for $i from 1 through $grid-columns {
  .grid-span-#{$i} {
    grid-column: span $i;
  }
}