// This file contains all styles related to the navigation.
// -----------------------------------------------------------------------------

/*
  1. Make the navigation bar fixed to the top
  2. Set the z-index to 100 to ensure it's on top of other elements
  3. Use flex for the nav element layout
  4. Justify content to separate the logo and the ul elements
  5. Set the width to 100% to span the entire viewport and subtract 30px for margin
  6. Add padding and margin to make it more visually appealing
  7. Apply the glassmorphism effect to the navigation bar
*/
nav {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  z-index: 100; /* 2 */
  display: flex; /* 3 */
  justify-content: space-between; /* 4 */
  width: calc(100% - 30px); /* 5 */
  margin: 15px; /* 6 */
  padding: 25px; /* 6 */
  @include glassmorphism; /* 7 */

  /*
    1. Use flex for the ul element layout
    2. Align items (vertically) to the center
    3. Set the gap between items to 50px
  */
  ul {
    display: flex; /* 1 */
    align-items: center; /* 2 */
    gap: 50px; /* 3 */

    /*
      1. Hide home button when the page is loaded
    */
    #home-button {
      display: none; /* 1 */
    }
  }
}