// This file contains all the variables of the project.
// -----------------------------------------------------------------------------

/// Primary font family.
/// This font family is used for main headings.
///
/// @type List
$font-family-primary: 'Lobster', cursive !default;

/// Secondary font family.
/// This font family is used for secondary headings and links.
///
/// @type List
$font-family-secondary: 'Martian Mono', monospace !default;

/// Tertiary font family.
/// This font family is used for the main body text.
///
/// @type List
$font-family-tertiary: 'Roboto', Arial, sans-serif !default;