/* GENERAL */
.container {
    display: flex;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.equal-width {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div {
    width: 100%;
}

/* NAVIGATION */
#home-nav,
#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
}

#main-nav {
    display: none;
}

#home-nav ul,
#main-nav ul {
    display: flex;
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-content {
    display: flex;
    height: 100%;
}

/* HOME - TXT */
.home-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.home-txt p {
    max-width: 50ch;
}

.home-txt a {
    align-self: flex-start;
}

/* HOME - IMG */
.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}