/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* NAVIGATION */
nav {
    background-color: #F5F5F5;
}

nav ul li a {
    padding: 0.5rem 25px;
    border-radius: 2rem;
    font-family: 'Martian Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #F5F5F5;
    background-color: #0F0F0F;
}

/* NAVIGATION - LOGO */
.logo a {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    font-weight: bold;
}

/* HOME */

/* HOME - TXT */
.bio {
    border-left: 2px solid #0F0F0F;
    padding-left: 25px;
}

.home-txt h1 {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
}

.home-txt h2 {
    font-family: 'Martian Mono', monospace;
    font-size: 1.5rem;
    font-weight: 300;
}

.home-txt p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.home-txt a {
    padding: 0.5rem 25px;
    border: 2px solid #0F0F0F;
    border-radius: 2rem;
    font-family: 'Martian Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.home-txt a:hover {
    color: #F5F5F5;
    background-color: #0F0F0F;
}

/* HOME - IMG */
.home-img img {
    border-radius: 50% 0 50% 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    .logo a {
        font-size: 1.5rem;
    }

    .home-txt h1,
    .home-txt h2,
    .home-txt p,
    .home-txt a {
        color: #F5F5F5;
    }

    .bio,
    .home-txt a {
        border-color: #F5F5F5;
    }

    .home-txt a:hover {
        color: #0F0F0F;
        background-color: #F5F5F5;
    }

    .home-img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 value to darken or lighten the image */
        z-index: 1;
    }

    .home-img img {
        border-radius: 0;
    }
}